
	    body{
	    margin: 0px;
	    padding: 0px;
	    font-family: sans-serif;

	    }

	    .login-box{
	    width: 320px;
	    height: 420px;
	    background: rgba(0, 0, 0, 0.6);
	    color: #fff;
	    border-radius: 5px;
	   
/*		  margin: 23% 18% 0% 16%;
	  
	    padding: 50px 30px;*/
	
		  margin: 0px 0px 80px 0px;
	  
	    padding: 50px 30px;;


	}
		.avatar{
		    width: 100px;
		    height: 100px;
		    border-radius: 50%;
	        margin: -50% 0% 0% 30%
		}
		h1{
		    margin: 0;
		    padding: 0 0 20px;
		    text-align: center;
		    font-size: 22px;
		}
		.login-box p{
		    margin: 0;
		    padding: 0;
		    font-weight: bold;
		}
		.login-box input{
		    width: 100%;
		    margin-bottom: 20px;
		}
		.login-box input[type="text"], input[type="password"]
		{
		    border: none;
		    border-bottom: 1px solid #fff;
		    background: transparent;
		    outline: none;
		    height: 40px;
		    color: #fff;
		    font-size: 16px;
		}
		.login-box a{
		    text-decoration: none;
		    font-size: 14px;
		    color: #fff;
		}



		.main
		{
			width:1366px;
			height: 590px;
		
       
		}
	
		.header
		{
			background-color: rgba(0,0,0, 0.5);
			width:1366px;
			height:65px;
			text-decoration: white;

		}


		#button {
			float:left;
		  background-color: white; /* Green */
		  border: none;
		  color: white;
		  text-align: center;
		  display: inline-block;
		  /*margin: 14px 8px 0px 1180px;*/
		  margin: -46px 0px 0px 1180px;

		 
		  
	

		}
		#signup
		{
			font-size: 15px;
			text-align: center;
			width:auto;
			height:auto;
			margin-left:35%;
			margin-right:35%;

		}



		     .logbtn{
			  display: block;
			  width: 140px;
			  height: 34px;
			  border: none;
			  background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
			  background-size: 200%;
			  color: #fff;
			  outline: none;
			  cursor: pointer;
			  transition: .5s;
			  border-radius: 5px;
			  	 
		       

			}

			.pop
			{ 	    		
				font-size: 12px;
			text-align: center;
				color:red;
              	  
	    margin-top: -10px;
	    margin-bottom: 10px;
	    font-family: sans-serif;
	    letter-spacing: 3px;


			}

			.logbtn:hover{
			  background-position: right;

			}


				.text_style {
					
					 
				  color: white;
				  font-family: sans-serif;
		    
					  padding: 14px 0px 0px 20px;
					  width: 500px;
					  
				   letter-spacing: 2.6px;
				  
				}


