 .login-box{
	    width: 800px;
	    height: 2400px;
	    background: rgba(0, 0, 0, 0.5);
	    color: #fff;
	    border-radius: 5px;
	   

			margin-left:22%;
			/*margin-right:10%;*/

	}
	
		.header
		{
			background-color: rgba(0,0,0, 0.7);
			width:1366px;
			height:65px;
			text-decoration: white;
			overflow: hidden;
  			position: fixed;
  			top: 0;
  			margin-left: -18px;


		}
		.kishan
		{margin-right: -200px;
			margin-left: 90px;
			padding-top: 48px;
		/*	padding: 16px;
			margin-top: 48px;
			margin-left:350px;*/

		/*	overflow: hidden;*/

		}
		.vishal
		{
			margin-top: 65px;
			padding-top: 30px;
			/*padding-bottom: 0px;*/

		}
		.page-title
		{
			text-align: center;
			  font-family: sans-serif;
			   letter-spacing: 3px;

		}
	    body{
	    margin: 0px;
	    padding: 0px;
	    font-family: sans-serif;
	     /*letter-spacing: 2.6px;*/
	   
	   /* background-image: url(1.jpg);*/

	    }
	    			     .logbtn{
			  display: block;
			  width: 140px;
			  height: 34px;
			  border: none;
			  background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
			  background-size: 200%;
			  color: #fff;
			  outline: none;
			  cursor: pointer;
			  transition: .5s;
			  border-radius: 5px;
			  	 
		       

			}

			.logbtn:hover{
			  background-position: right;}
			  		#button {
			float:left;
		  background-color: white; /* Green */
		  border: none;
		  color: white;
		  text-align: center;
		  display: inline-block;
		  /*margin: 14px 8px 0px 1180px;*/
		  margin: -46px 0px 0px 1180px;

		}

				.text_style {
					
					 
				  color: white;
				  font-family: sans-serif;
		    
					  padding: 14px 0px 0px 20px;
					  width: 500px;

					  
				   letter-spacing: 2.6px;
				  
				}

     	 #signup
		{
			/*font-size: 15px;*/
			/*text-align: center;
			width:auto;
			height:auto;*/
			margin-top:7%; 
			margin-left:92%;
			font-family: sans-serif;
			/*margin-right:35%;*/

		}
        
  

        .all
        {width: 1350px;
        	height: 2800px;
        	 background-repeat: no-repeat;
        	 background-image: url(1111.jpg);
        	  background-size: 1350px 2800px;
        }

                  .pop1
      {           
        font-size: 18px;
      text-align: center;
        color:red;
                  
      font-family: sans-serif;
    /*  letter-spacing: 3px;*/


      }
